.bigSearch{
    width: 500px;
    padding: 15px;
    font-size: large;
}

.browseHeader{
    color: white;
    font-size: 40px;
    background-color:rgba(0,0,0,0.4);
    padding: 20px 0px;
    border-radius: 30px;
}

.rating{
    background-color: #792e2e;
    color: white;
    padding: 10px;
    width: 450px;
    font-size: large;
    margin-bottom: 10px;
}

.hours{
    background-color: #792e2e;
    color: white; 
    padding: 10px;
    width: 450px;
    font-size: large;
    margin-bottom: 10px;
}

.wifi{
    background-color: #792e2e;
    color: white; 
    padding: 10px;
    width: 450px;
    font-size: large;
    margin-bottom: 10px;
}

.loc{
    background-color: #792e2e;
    color: white; 
    padding: 10px;
    width: 450px;
    font-size: large;
    margin-bottom: 10px;
}

.pop{
    background-color: #792e2e;
    color: white; 
    padding: 10px;
    width: 450px;
    font-size: large; 
    margin-bottom: 10px;
}

.food{
    background-color: #792e2e;
    color: white; 
    padding: 10px;
    width: 450px;
    font-size: large;
    margin-bottom: 10px;    
}

.searchButton{
    background-color: white;
    color: black;
}

.rating::placeholder, .hours::placeholder, .wifi::placeholder, 
.loc::placeholder, .pop::placeholder, .food::placeholder{
    color: white;
}