.bigSearch{
    width: 500px;
    padding: 15px;
    top: 120px;
    left: 440px;
    position: relative;
    font-size: large;
}

.browseHeader{
    color: white;
    font-size: 40px;
    top: 120px;
    left: 370px;
    position: relative;
    max-width: 35%;
    background-color:rgba(0,0,0,0.4);
    padding: 20px 0px;
    border-radius: 30px;
}

.rating{
    background-color: #792e2e;
    color: white;
    padding: 10px;
    width: 450px;
    position: relative;
    left: 470px;
    top: 180px;
    font-size: large;
}

.hours{
    background-color: #792e2e;
    color: white; 
    padding: 10px;
    width: 450px;
    position: relative;
    font-size: large;
    left: 20px;
    top: 130px;
}

.wifi{
    background-color: #792e2e;
    color: white; 
    padding: 10px;
    width: 450px;
    position: relative;
    font-size: large;
    left: -430px;
    top: 230px;
}

.loc{
    background-color: #792e2e;
    color: white; 
    padding: 10px;
    width: 450px;
    position: relative;
    font-size: large;
    left: -880px;
    top: 280px;
}

.pop{
    background-color: #792e2e;
    color: white; 
    padding: 10px;
    width: 450px;
    position: relative;
    font-size: large; 
    left: 470px;
    top: 290px;
}

.food{
    background-color: #792e2e;
    color: white; 
    padding: 10px;
    width: 450px;
    position: relative;
    font-size: large;
    left: 20px;
    top: 345px;
}

.searchButton{
    background-color: white;
    color: black;
    position: relative;
    top: 400px;
    left: -250px;
}

.rating::placeholder, .hours::placeholder, .wifi::placeholder, 
.loc::placeholder, .pop::placeholder, .food::placeholder{
    color: white;
}