#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Main_Title, .subtitle{
  color: white;
  transform: translateX(-450px);
}

.signBttn{
  background-color: white;
  color: black;
  transform: translateX(-450px);
}

.Home{
  background-color: white;
  color: black;
  transform: translate(-370px, -200px);
}

.search{
  transform: translate(-350px, -200px);
}

.places{
  background-color: white;
  color: black;
  transform: translate(-330px, -200px);
}

.contact{
  background-color: white;
  color: black;
  transform: translate(-310px, -200px);
}

.signUp{
  background-color: white;
  color: black;
  transform: translate(-290px, -200px);
}

.signIn{
  background-color: white;
  color: black;
  transform: translate(-270px, -200px);
}

.searchBttn{
  background-color: white;
  color: black;
  transform: translate(150px, -240px);
  border-radius: 10px;
  padding: 8px;
}

.loginInfo{
  width: 420px;
  background-color:rgba(0,0,0,0.4);
}

.signHeader{
  color: white;
  font-size: 45px;
}

.user{
  background: transparent;
  border: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
