  .subtitle
  {
    color: white;
    transform: translate(-470px, -5px);
  }
  
  .signBttn{
    background-color: white;
    color: black;
  }
  
  .loginInfo{
    width: 420px;
    background-color:rgba(0,0,0,0.4);
  }
  
  .signHeader{
    color: white;
    font-size: 45px;
    padding: 30px 40px;
  }
  
  .user{
    border-radius: 10px;
    width: 80%;
    font-size: 25px;
    margin: 20px 0;
    padding: 5px;
  }
  
  .user::placeholder, .pass::placeholder{
    color: black;
  }
  
  .pass{
    border-radius: 10px;
    width: 80%;
    font-size: 25px;
    margin: 20px 0;
    padding: 5px;
  }
  
  .forgot{
    color: white;
    position: relative;
    top: -25px; 
    left: 3px;
  }
  
  .remember{
    color: white;
    position: relative;
    top: -25px; 
  }
  
  .card {
    padding: 2em;
  }
  