.caption{
  color: white;
  position: relative;
  left: -460px;
  top: -70px;
  font-size: 25px;
}

.material-symbols-outlined {
  color: black;
  font-size: 50px;
}

.nextBttn{
  background-color:white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: relative;
  left: -460px;
  top: -20px;
}