h1, b, p{
    color: white;
}

.contactCatalog{
    width: 420px;
    background-color:rgba(0,0,0,0.4);
    margin-left: 5%;
  }

  .favs{
    border-radius: 10px;
    width: 80%;
    font-size: 25px;
    margin: 20px 0;
    padding: 5px;
  }

  .reviews{
    border-radius: 10px;
    width: 80%;
    font-size: 25px;
    margin: 20px 0;
    padding: 5px;
  }

  .prefs{
    border-radius: 10px;
    width: 80%;
    font-size: 25px;
    margin: 20px 0;
    padding: 5px;
  }

  .profilePhoto{
    border-radius: 10px;
    width: 80%;
    font-size: 25px;
    margin: 20px 0;
    padding: 5px;
  }

  .dot {
    height: 80px;
    width: 80px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    left: -15px;
  }

  .profileTitle{
   justify-content: center;
   align-items: center;
    display: flex;
  }